{% extends 'headeradmin.html.twig' %}

{% block title %}New Reponse{% endblock %}

{% block content %}
    <h1> Ajouter une Reponse</h1>

    {{ include('reponse/_form.html.twig') }}

    <a href="{{ path('reclamationAdmin') }}">back to list</a>
{% endblock %}
