<form method="post" action="{{ path('app_espace_delete', {'id': espace.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet espace?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ espace.id) }}">
    <button class="btn">Supprimer</button>
</form>
